@model DocenteListViewModel
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">Gestione Docenti</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-2"><a class="btn btn-outline-secondary ml-3" asp-controller="Docenti" asp-action="Create"><i class="fas fa-file-alt"></i> Nuovo</a></div>
                                    <div class="col-md-7"></div>
                                    <div class="col-md-3 d-flex align-items-center">
                                        <form asp-controller="Docenti" asp-action="Index" method="get">
                                            <div class="input-group">
                                                <input type="text" name="search" class="form-control" placeholder="Cerca docente..." aria-label="Cerca..." aria-describedby="search-button" value="@Model.Input.Search">
                                                <div class="input-group-append">
                                                    <button class="input-group-text" id="search-button"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><br></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 titolo-tabella-bt"><docente-order-link order-by="NominativoDocente" Input="@Model.Input">Nominativo Docente</docente-order-link></div>
                                    <div class="col-md-2 titolo-tabella-bt">Materia insegnata</div>
                                    <div class="col-md-2 titolo-tabella-bt">Telefono</div>
                                    <div class="col-md-3 titolo-tabella-bt">Indirizzo Email</div>
                                    <div class="col-md-2"></div>
                                </div>
                                @foreach (var docente in Model.Docente.Results)
                                {
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3 testo-tabella-bt">@docente.NominativoDocente</div>
                                        <div class="col-md-2 testo-tabella-bt">@docente.MateriaInsegnata</div>
                                        <div class="col-md-2 testo-tabella-bt">@docente.Telefono</div>
                                        <div class="col-md-3 testo-tabella-bt">@docente.Email</div>
                                        <div class="col-md-2 d-flex align-items-center">
                                            <a class="btn btn-outline-primary" asp-controller="Docenti" asp-action="Detail" asp-route-IdDocente="@docente.IdDocente"><i class="fas fa-info"></i> Dettaglio</a>
                                        </div>
                                    </div>   
                                }
                                <div class="row">
                                    <div class="col-md-12"><br></div>
                                </div>
                                <vc:pagination-bar model="@Model"></vc:pagination-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>