@model App.Models.InputModels.Lezioni.LezioneCreateInputModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LezioneCreateInputModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorsoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorsoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLezione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLezione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLezione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLezione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceCorso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceCorso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceAula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceAula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizioLezione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInizioLezione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFineLezione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFineLezione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
